.ui-assetSelectButton {
  display: flex;
  color: #141426 !important;
  background-color: transparent !important;
  // &:hover {
  //   // border: 1px solid #fff !important;
  //   background-color: rgba(0, 0, 0, 0.2) !important;
  // }
}
