.ui-layout-header {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #ffffff;
  overflow: hidden;
  padding-left: 140px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-bottom: 3px solid rgba(#23c9a7, 0.62);
  position: fixed;
  z-index: 20;

  .ui-layout-header-menu {
    float: right;
    line-height: 60px;
  }
  .logo {
    line-height: 60px;
    overflow: hidden;
    width: 150px;
    float: left;
    .logo-text {
      color: #23c9a7 !important;
      font-size: 16px;
      font-weight: bold;
      padding-left: 20px;
      float: left;
    }
    svg {
      width: 36px;
      height: 36px;
      display: block;
      float: left;
      margin: 12px 0;
      cursor: pointer;
    }
  }
}
