.ui-basic-layout {
  width: 100%;
  background-color: #f2f3f4;
  min-height: 100vh;
  // position: fixed;
}

// 页内弹窗
.ui-dialog {
  position: absolute !important;
  top: 60px !important;
  left: 0 !important;
  right: 0 !important;
  height: calc(100vh - 60px) !important;
  background-color: #f2f3f4;
  .next-dialog-close {
    display: none;
  }

  // 弹窗内容
  .ui-dialog-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 64px;
    margin: 0 auto;
    .ui-dialog-body {
      overflow: hidden;
      background: #ffffff;
      border-radius: 20px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

      .ui-dialog-header {
        height: 66px;
        overflow: hidden;
        line-height: 80px;
        padding-left: 30px;
        position: relative;
        // border-bottom: 1px solid #c9cace;
        z-index: 3;
        .ui-dialog-title {
          padding-left: 20px;
          color: #000;
          font-size: 18px;
          text-shadow: 0 0 0 #000;
        }
        .ui-dialog-search {
          width: 380px;
          height: 30px;
          position: absolute;
          right: 18px;
          bottom: 6px;
          line-height: 0;
          .next-input.next-medium {
            border: none;
            width: 100%;
            border: 2px solid #23c9a7;
            border-radius: 100px;
            padding-left: 10px;
            .next-input-inner {
              color: #00c9a7;
            }
            input::placeholder,
            textarea::placeholder {
              color: #00c9a7;
            }
          }
        }
      }

      .ui-dialog-data {
        height: 520px;
        background-color: #fff;
        overflow: auto;
        &::-webkit-scrollbar {
          height: 0;
          width: 0;
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          width: 0;
          min-height: 15px;
          background: transparent;
        }
        &::-webkit-scrollbar-thumb:active,
        &::-webkit-scrollbar-thumb:hover {
          background: transparent;
        }
      }

      // 弹窗按钮
      .ui-dialog-btns {
        box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 0px 0px 20px 20px;
        height: 94px;
        position: relative;
        z-index: 3;
        text-align: center;
        padding-top: 30px;
        .ui-submit,
        .ui-cancel {
          width: 120px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-radius: 50px;
          font-size: 16px;
          display: inline-block;
          cursor: pointer;
          font-weight: 500;
        }
        .ui-submit {
          background-color: #00c9a7;
          color: #fff;
          box-shadow: 0 1px 6px 1px rgba(#aaa, 0.8);
        }
        .ui-cancel {
          margin-left: 40px;
          color: #999;
          background-color: #fff;
          box-shadow: 0 1px 6px 1px rgba(#aaa, 0.8);
        }
      }
    }
  }
}

// 选择资产
.ui-SelectAsset {
  width: 810px;
  .ui-dialog-body {
    width: 810px;
    height: 682px;
    .ui-dialog-header {
      box-shadow: 0px -3px 6px rgba(0, 0, 0, 1);
    }
  }
}
.ui-assetInfo {
  height: 226px;
  width: 270px;
  background-color: #fff; //rgba(48, 128, 254, 0.5);
  // border: 1px solid rgba(#c9cace, 0.3);
  position: relative;
  // margin: -1px;
  box-shadow: inset 0 0 1px rgba(#000, 0.5);
  transition: all ease 0.2s;
  &:hover {
    background-color: rgba(#00c9a7, 0.1);
    box-shadow: inset 0 0 3px rgba(#00c9a7, 0.3);
  }

  .ui-assetInfo-account {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #c9cace;
    font-size: 12px;
  }
  > img {
    width: 40px;
    height: 40px;
    display: block;
    margin-top: 46px;
    margin-left: 30px;
  }
  .ui-assetInfo-symbol {
    padding-top: 12px;
    padding-left: 30px;
    font-size: 20px;
    color: #383c41;
    font-weight: bold;
    line-height: 24px;
    span {
      position: relative;
      top: -2px;
      left: 6px;
      font-size: 14px;
      color: #23c9a7;
    }
    & + span {
      color: #8687a3;
      font-size: 12px;
      padding-left: 30px;
      display: block;
    }
  }
  .ui-btn {
    margin-left: 30px;
    margin-top: 20px;
    background-color: #00c9a7;
    border: none;
    width: 80px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    padding: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
  }

  &.ui-select {
    background-color: #00c9a7;
    border-color: #00c9a7;
    z-index: 10;
    .ui-assetInfo-account {
      color: #0c5453;
    }
    .ui-assetInfo-symbol {
      color: #fff;
      span {
        color: #008e75;
      }
      & + span {
        color: #91ffe9;
      }
    }
    .ui-btn {
      background-color: #fff;
      color: #00c9a7;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

.ui-pairList,
.ui-txInfoList {
  width: 1088px;
  .ui-dialog-body {
    width: 1088px;
    height: 682px;
    .ui-dialog-data {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      position: relative;
      margin-bottom: 0 !important;
      .ui-pairList-tr {
        height: 33px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-color: #f2f3f4;
      }
      .next-table {
        // 隐藏其滚动条
        .next-table-body {
          &::-webkit-scrollbar {
            height: 0;
            width: 0;
            background: transparent;
          }
          &::-webkit-scrollbar-thumb {
            width: 0;
            min-height: 15px;
            background: transparent;
          }
          &::-webkit-scrollbar-thumb:active,
          &::-webkit-scrollbar-thumb:hover {
            background: transparent;
          }
        }
        .next-table-header {
          padding-right: 0 !important;
          tr {
            th {
              border-bottom: none;
              .next-table-cell-wrapper {
                color: #5e768b;
                line-height: 33px;
                background-color: #f2f3f4;
                padding: 0 16px;
              }
            }
          }
        }
      }
    }
  }
}

.ui-color-primary {
  color: #00c9a7;
}

.ui-button.next-btn {
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  &.next-btn-primary {
    background-color: #00c9a7;
  }
  span {
    vertical-align: unset;
  }
}

.ui-ell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ui-clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
